 @import './base.css';
 @import './../utils/_variables.scss';
 @import './../utils/_reset.scss';
 @import './../utils/_mixins.scss';
 @import './../utils/_normalize.scss';

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal; 
} 
